body {
  background-color: #FFFFFF;
  margin: 0 0 0 0;
  /* background-image: url(/background-picture.jpg); */
  background-color: #181D31;
  background-size: cover;
  overflow-x: hidden;
}

li {
  float: left;
}

li a:hover {
  background-color: #111;
}

.navbar-class {
  background-color: #FFD4B2;
  color: #E97777;
  width: 100%;
  /* height: 20%; */

}

.custom-toggler {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  border-color: rgb(255,102,203);
}
.home:hover {
  background-color: #DFD3C3;
}
.navbar1 {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
  overflow: hidden;
  background-color: transparent;
  /* height: 70px; */
  position: 100px;
  top: 0;
}
.navbar-img {
  width: 70px;
  height: 70px;
  float: left;
}

.navbar-authorName {
  display: inline-block;
  /* padding: 10px 0 10px 30px; */
  margin: 0;
  font-family: 'Passions Conflict', cursive;
  font-size: 50px;
  text-align: center;
  color: white;
}

.navbar-items {
  float:right;
  padding: 20px;
}
.active {
  width:150px;
  height: 80px;
  text-decoration: none;
  font-size: 25px;
  background-color: transparent;
  color: #F5EBE0;

}
.active:hover {
  background-color: transparent;
}

.navbar-items:hover {
  transition: 2s;
  background: linear-gradient(to right, #CF1B39 44%, #CF1DC9 67%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(to right, #16BFFD 0%, #CB3066 51%, #16BFFD 100%);;
  background-position: right center; /* change the direction of the change here */
  color: #F5EBE0;
  text-decoration: none;
}


/* Section 2 - author details */

#welcome-section {
  padding-top: 3%;
}

.workingMan-pic {
  width: 90%;
  float: left;
  position: relative;
  left: 0px;
  bottom: 50px;
}

.intro-body {
  font-family: 'Orbitron', sans-serif;
  color: white;
  font-size: 60px;
  display: inline-block;
}

.welcome-body {
  color: white;
  font-family: 'Handlee', cursive;
  font-size: 40px;
  font-weight: normal;
  line-height: 1.5;
}

.welcome-body-skillList {
  color: #FFE15D;
  font-family: 'Aldrich', sans-serif;
  font-size: 20px;
  font-weight: normal;
  line-height: 1.5;
}

.welcome-body-spanclass {
  /* background: #121FCF; */
background: linear-gradient(to right, #16BFFD 0%, #CF1B39 66%, #CF1DC9 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.contactMe {
   background-image: linear-gradient(to right, #16BFFD 0%, #CB3066 51%, #16BFFD 100%);;
   /* margin: 15px; */
   padding: 15px 65px;
   text-decoration: none;
   transition: 0.7s;
   background-size: 200% auto;
   color: white;
   border-radius: 50px;
   display: inline-block;
   border-style: none;
   margin-top: 3%;
 }

 .contactMe:hover {
   background-position: right center; /* change the direction of the change here */
   color: #F5EBE0;
   text-decoration: none;
 }

.btn-contactMe {
  font-family: 'Handlee', cursive;
  font-size: 22px;
  text-decoration: none;
}

.resume-button {
  text-decoration: none;
  color: #F5EBE0;
}


/* Line Border */


.line-style {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-evenly;
  height: 50px;
  margin-top: 20px;
}

.hr-line {
  background-color: #D23369;
  height: 5px;
  width: 80%;
  border-radius: 20px;
}

.hr-dot {
  background-color: #D23369;
  height: 10px;
  width: 10px;
  border-radius: 50%;
}



/* Section 3 - author desc */


#author-section {
  padding: 5% 0;
}
.who-am-i {
  padding-left: 50px;
}
.who-am-i-title {
  font-size: 60px;
  font-family: 'Orbitron', sans-serif;
  color: #EFF5F5;
}

.who-am-i-desc {
  color: #EFF5F5;
  font-family: 'Handlee', cursive;
  font-size: 26px;
}

.Authpic-resize {
  width: 65%;
  border-radius: 100%;
  align-items: center;
  margin-top: 70px;
}


/* Footer */

.footer {
  position: absolute;
  margin-top: 120px;
  padding-top: 40px;
  padding-bottom: 40px;
  font-family: 'Handlee', cursive;
  color: #F2F2F2;
  font-size: 21px;
  text-align: center;
  width: 100%;
}




/* Scroll bar */

::-webkit-scrollbar {
  width: 8px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #181D31;
  border-radius: 7px;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: linear-gradient(#F06292, #9C254D, #181D31);
  border-radius: 10px;
}
